{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",
        {
        }]
    ]
}